<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", main_app.new_user_registration_path %> or
    <%= link_to "Sign in", main_app.new_user_session_path %>
  <% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list">
	      <li class=<%= "active" if current_page?(main_app.root_path) %> >
				  <%= link_to '<i class="icon-chevron-right"></i> Home'.html_safe, main_app.root_path %>
				</li>
	      <li class=<%= "active" if current_page?(blog_engine.articles_path) %> >
	 			  <%= link_to '<i class="icon-chevron-right"></i> Blog'.html_safe, blog_engine.articles_path %>
	      </li>
   			<li><%= link_to '<i class="icon-chevron-right"></i> Posts'.html_safe, main_app.posts_path %></li>
			  <li><%= link_to '<i class="icon-chevron-right"></i> About'.html_safe, main_app.root_path %></li>
			  <li><%= link_to '<i class="icon-chevron-right"></i> Contact'.html_safe, main_app.root_path %></li>
      </ul>
    </div>
    <div class="span9">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
