<div class="article">
	<%=link_to "Edit", blog_engine.edit_article_path(@article) %>
	<h1><%= @article.title%></h1>

	<p>
		<%= @article.content%>
	</p>
</div>

<%= form_for [blog_engine, @article, @comment] do |f| %>
  <div class="field">
		<%= f.label :content %><br/>
		<%= f.text_area :content %>
	</div>
	
	<div class="actions">
	  <%= f.submit 'Save' %>
	</div>
<% end %>
	
<div class="comments">	
	<%= render @article.comments %>
</div>